<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sanchat.api.mapper.UserMapper">

    <resultMap id="userAndDogsResultMap" type="UserDTO">
        <id property="userNo" column="user_no"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userIntro" column="user_intro"/>
        <association property="photo" javaType="PhotoDTO">
            <result property="photoUrl" column="user_photo_url"/>
        </association>
        <collection property="dogList" resultMap="dogMap"/>
    </resultMap>

    <resultMap id="userResultMap" type="UserDTO">
        <id property="userNo" column="user_no"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userIntro" column="user_intro"/>
        <association property="photo" javaType="PhotoDTO">
            <id property="photoNo" column="photo_no" />
            <result property="photoUrl" column="photo_url"/>
        </association>
        <collection property="dogList" resultMap="dogMap"/>
    </resultMap>

    <resultMap id="dogMap" type="DogDTO">
        <id property="dogNo" column="dog_no"/>
        <result property="dogName" column="dog_name"/>
        <result property="dogBreed" column="dog_breed"/>
        <result property="dogGender" column="dog_gender"/>
        <result property="birthDate" column="birth_date"/>
        <result property="isNeutered" column="is_neutered"/>
        <association property="photo" javaType="PhotoDTO">
            <id property="photoNo" column="photo_no" />
            <result property="photoUrl" column="photo_url"/>
        </association>
    </resultMap>

    <resultMap id="userPhotoListMap" type="CommunityDTO">
        <id property="communityNo" column="community_no"/>
        <result property="communityContent" column="community_content"/>
        <result property="userNo" column="user_no"/>
        <collection property="photoList" ofType="PhotoDTO">
            <id property="photoNo" column="photo_no" />
            <result property="photoUrl" column="photo_url"/>
            <result property="photoName" column="photo_name"/>
<!--            <result property="photoType" column="photo_type"/>-->
<!--            <result property="createdAt" column="created_at"/>-->
<!--            <result property="relatedType" column="related_type"/>-->
<!--            <result property="relatedEntityId" column="related_entity_id"/>-->
        </collection>
    </resultMap>


    <select id="getUser" resultMap="userAndDogsResultMap" parameterType="Long">
        SELECT *
        FROM ( SELECT u.* , p.photo_url as user_photo_url
            FROM user u
            JOIN photo p
            ON u.user_no = p.related_entity_id
            WHERE u.user_no = #{userNo} AND p.related_type = 'USER' ) u
        LEFT JOIN dog d
        ON u.user_no = d.user_no
        LEFT JOIN photo p
        ON d.dog_no = p.related_entity_id AND p.related_type = 'DOG'
        WHERE u.user_no = #{userNo}
    </select>

    <select id="getUserProfileData" resultMap="userResultMap" parameterType="String">
<!--        select u.user_id, u.user_name, u.user_intro, dd.*-->
<!--        from user u-->
<!--        left join (select d.*, p.photo_url, p.photo_no-->
<!--                    from dog d-->
<!--                    left join photo p-->
<!--                    on p.related_entity_id = d.dog_no-->
<!--                    where p.related_type = 'DOG'-->
<!--                    AND d.user_no = 1) dd-->
<!--        on  u.user_no = dd.user_no-->
<!--        where u.user_no = #{userNo};-->
        select *
        from user
        where user_id = #{username}
    </select>
    <!-- 기본 키를 자동 생성한 후 조회 -->

    <select id="getUserNo" resultType="int">
        select user_no from user where user_id = #{username}
    </select>

    <select id="getDogList" parameterType="String"  resultMap="dogMap">
        select *
        from  ( select d.*
        from user u
        join dog d
        on u.user_no = d.user_no
        where user_id = #{username} ) ud
        left join photo p
        on p.related_entity_id = ud.dog_no AND p.related_type = 'DOG'
    </select>


    <select id="getPhotoList" parameterType="long" resultMap="userPhotoListMap" >
        SELECT *  -- 프로필 피드 가져오기
        FROM community c
        JOIN photo p
        ON c.community_no = p.related_entity_id
        WHERE c.user_no = #{userNo}
        AND p.related_type = 'COMMUNITY'
        AND p.photo_no = ( SELECT MIN(p2.photo_no)  -- 첫번째 사진을 가져오기
        FROM photo p2
        WHERE p2.related_entity_id = c.community_no
        AND p2.related_type = 'COMMUNITY')
    </select>

</mapper>