<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sanchat.api.mapper.UserMapper">

    <resultMap id="userAndDogsResultMap" type="UserDTO">
        <id property="userNo" column="user_no"/>
        <result property="userName" column="user_name"/>
        <result property="userBirth" column="user_birth"/>
        <result property="userIntro" column="user_intro"/>
        <collection property="dogList" resultMap="dogMap"/>
    </resultMap>

    <resultMap id="dogMap" type="DogDTO">
        <id property="dogNo" column="dog_no"/>
        <result property="dogName" column="dog_name"/>
        <result property="dogBreed" column="dog_breed"/>
        <result property="dogGender" column="dog_gender"/>
        <result property="birthDate" column="birth_date"/>
        <result property="isNeutered" column="is_neutered"/>
    </resultMap>

    <select id="getUser" resultMap="userAndDogsResultMap" parameterType="Long">
        select * from user u left join dog d on u.user_no=d.user_no where u.user_no=#{userNo};
    </select>
</mapper>